/* ==========================================================================
Main page styles
========================================================================== */
.btn:hover {
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
  border-radius: 30px;
}
.btn {
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
